<!DOCTYPE html>

	<meta charset="utf-8">
	<title>
		
	</title>
</head>
	Criado!! <br>


 <th><%= link_to "Novo Produto", new_produto_url %></th><br>
<tr><%= link_to "Página Inicial",root_url  %></tr><br>


